// COLORS
$primary-color: #ED213A;
$secondary-color: #93291E;

$white-color: #fff;

$dark-grey: #2b2b2b;

$dark-blue-text: #272341; // For Headings #272341 

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
